@media screen and (max-width:1300px) {
    .slides {
        min-width: 50%;
    }
}

@media screen and (max-width:992px) {
    .rounded-lg-3 {
        border-radius: .3rem;
    }
}

@media screen and (max-width:768px) {
    .banner-text {
        margin-top: -30px !important;
    }
}

@media screen and (max-width:512px) {
    .desc {
        font-size: 1em !important;
    }
}

@media screen and (max-width:400px) {}

@media screen and (max-width:300px) {}