@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
*{
    /*transition: all 0.3s ease-in-out;*/
}
html{
    overflow-x: hidden;
}
body{
    /*font-family: 'Ubuntu Mono', monospace;*/
    /*background: #E5E5E5;*/

}
h1,h2,h3,h4{
    font-family: 'Ubuntu Mono', monospace !important;
    font-weight: 700 !important;
}
nav{
    /*z-index: 999;*/
}


.social-icons a{
    cursor: pointer;
}
.social-icons a{
    margin:10px 10px ;
}
.paddings{
    padding: 0px 50px;
}
.main-container{
    margin-left: 50px;
    margin-right: 50px;
}
.bg-python{
    background-color: #FFD745;
}
.edu-color1{
    background-color: #0CBA68;
}
.edu-color2{
    background-color:#3771A1;
}
.edu-color3{
    background-color: #B6FF9E;
}
.scale:hover{
    transform: scale(1.2);
}
.py-blue{
color: #3475A8;
}

.py-orange{
    color: #FFD745;
}
.bg-python-blue{
    background-color: #3475A8;
}
.bg-python-orange{
    background-color: #FFD745;
}
.mobile-nav{
    position: absolute;
    width: 100%;
    transform: translateY(-600px);
}

/*@media screen and (max-width: 1000px){*/
/*    .mobile-nav{*/
/*        display: none;*/
/*    }*/
/*}*/
.toDown{
    transform: translateY(0px);
    /*position: absolute;*/
    /*animation: upToDown 500s linear ;*/
}
@keyframes upToDown {
    from{
        transform: translateY(-200px);
    }
    to{
        transform: translateY(0);
    }
}
.star{

}
#about{
    background-image: url("../img/mount.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 500px;
}




