@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

body{
    font-family: 'Ubuntu Mono', monospace;
    /*background: #E5E5E5;*/
}
h1,h2,h3,h4{
    font-family: 'Ubuntu Mono', monospace !important;
    font-weight: 700 !important;
}
nav{
    /*z-index: 999;*/
}
.social-icons{
    display: flex;
    justify-content: center;
}
.social-icons a{
    margin:10px 10px ;
}
.paddings{
    padding: 0px 50px;
}
.main-container{
    margin-left: 50px;
    margin-right: 50px;
}
.bg-python{
    background-color: #FFD745;
}
.edu-color1{
    background-color: #0CBA68;
}
.edu-color2{
    background-color:#3771A1;
}
.edu-color3{
    background-color: #B6FF9E;
}
.py-blue{
color: #3475A8;
}
.title{
    font-size: 40px !important;
    color: #FFD745;
    line-height: 40px;
}
.py-orange{
    color: #FFD745;
}
.bg-python-blue{
    background-color: #3475A8;
}
.bg-python-orange{
    background-color: #FFD745;
}
.btn{
    border-radius: 20px;
}

#pyblog-banner{
    width: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    position: absolute;
    margin-top:-20px;
    z-index: -1;

}

.brand-logo img{
    margin-top: 5px;
}
.tech{
    width: 100px;
    height: auto;
}
@media screen and (max-width: 900px){
    .paddings{
        padding: 0px 20px;
    }
    .main-container{
        margin-left: 20px;
        margin-right: 20px;
    }
}