@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
    font-family: 'Noto Sans', sans-serif;
}

.box {
    margin: 30px;
    border-radius: 20px;
}

.banner {
    margin-top: 50px;
    padding-bottom: 50px;
    background-color: #F7F7F7;
    border-bottom: solid 3px rgb(156, 149, 236);
}


/* Carousel base class */

.carousel {
    margin-bottom: 4rem;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}


/* Declare heights because of positioning of img element */

.carousel-item {
    height: 32rem;
}

.carousel-item>.bd-placeholder-img {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    height: 45rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}