@import url("defaults.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

body {
  background: var(--body-color);
}

.header {
  padding: 45px 0;
}

.navbar .nav-logo {
  font-size: 27px;
  font-weight: bold;
}

.navbar .nav-links {
  display: flex;
  align-self: center;
  font-size: 20px;
}

.nav-links.mobile {
  display: flex;
  flex-direction: column !important;
}

.menu {
  display: none;
}

.menu button {
  margin-top: 20px;
}

.nav-links.mobile li {
  font-size: 20px;
}

.nav-links.mobile li:not(:last-child) {
  margin-bottom: 10px;
}

.nav-links .link.active {
  opacity: 1;
  font-weight: bold;
}

.hero-section {
  margin-bottom: 200px;
  position: relative;
}

.hero-section .card {
  position: absolute;
  background: #fff;
  padding: 26px 34px;
  margin-top: 50px;
  z-index: 1;
  box-shadow: 0px -4px 100px 2px rgba(113, 128, 135, 0.2);
}

.hero-section .card .card-content {
  display: flex;
  justify-content: space-around;
}

.hero-section .card .card-content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
}

.hero-section .card .card-content > * > .title {
  color: #505050;
}

.hero-section .card .card-content > * > .subtitle {
  color: #000;
  font-weight: 500;
}

.hero-section .card .card-content div:not(:last-child) {
  margin-right: 27px;
}

.hero-section .col {
  width: 50%;
}

.row#places .row {
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 34px;
  justify-content: center;
}

.row#places .card {
  width: 420px;
  height: 230px;
  min-height: 226px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 15px;
  background-image: url("../images/place-image-1.png");
}

.card .card-header {
  display: flex;
  justify-content: flex-end;
}

.btn.btn-sm {
  font-size: 16px;
  padding: 10px 20px;
  background: #fff;
  color: #000;
}

.row#places .card > div .card-title {
  color: #fff;
  font-size: 24px;
}

.row#offers .row {
  flex-wrap: wrap;
  gap: 35px;
  margin-top: 25px;
  justify-content: center;
}

.row#offers .offer-card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-width: 300px;
  min-height: 300px;
  padding: 20px;
  background: #fff;
}

.row#offers .card-header {
  margin-top: 35px;
}

.row#offers .offer-card .card-footer span {
  display: inline-block;
  max-width: 200px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.row#offers .offer-card .card-footer {
  margin-top: 35px;
}

.row#gallery .image-item {
  width: 500px;
  overflow: hidden;
}

.row#gallery .row {
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.form#contact .row {
  border-radius: 10px;
  padding: 25px;
  background: #fff;
}

.form#contact .row .col {
  width: 50%;
}

.form .field {
  width: 80%;
}

.form .field:not(:last-child) {
  margin-bottom: 20px;
}

.form .details li {
  font-size: 20px;
  list-style: none;
}

:is(.form .field) input,
textarea {
  background: #f5f5f5;
  border: 1px solid #c4c4c4;
  padding: 10px;
  width: 100%;
}

:is(.form .field input, .form .field textarea):focus {
  outline: none;
}

.form .socials {
  display: flex;
  gap: 20px;
}

.socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  padding: 20px;
}

.socials a div {
  color: #000;
}

.footer {
  background: #000;
  padding: 50px 0;
}

.footer a {
  color: #fff;
  opacity: 0.7;
  text-decoration: none;
  font-size: 20px;
}

.footer .logo,
.footer .licence {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  border: 2px solid #000;
}

.footer .logo a {
  opacity: 1;
  font-size: 26px;
}

.description {
  font-size: 24px;
}

@media screen and (max-width: 1300px) {
  .sm-flex-direction-column {
    flex-direction: column !important;
  }
  .sm-flex-direction-column .col {
    margin-left: 0 !important;
  }
  .sm-position-absolute {
    /* display: none */
    position: absolute !important;
    right: 0;
    z-index: -1;
    opacity: 0.5;
  }

  .hero-section .card {
    position: static;
  }

  .hero-section .card .card-content {
    flex-direction: column;
  }
}

@media screen and (max-width: 991px) {
  #bar {
    display: block;
    cursor: pointer;
  }
  .navbar .nav-links {
    display: none;
  }
  .navbar .action button {
    display: none;
  }

  .menu.show {
    display: block;
  }
  .line button {
    display: none;
  }
  .poster img {
    width: 100%;
  }
  .footer .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .text-lg {
    font-size: 50px;
  }
  .sm-width-100 {
    width: 100% !important;
  }
  .hero-section {
    margin-bottom: 0;
  }

  .form .row.container .row {
    flex-direction: column !important;
  }

  .form .field {
    width: 100%;
  }

  .form .row.container .col {
    margin-bottom: 15px;
    width: 100% !important;
  }

  .socials {
    flex-direction: column !important;
    align-items: flex-start;
  }
  .socials a {
    padding: 10px !important;
  }
  .footer .logo {
    order: 0;
    margin: 0;
  }
  .footer .row.container {
    order: 1;
    margin-top: 25px;
  }
  .footer .licence {
    order: 2;
  }
}

@media screen and (max-width: 767px) {
  .text-xmd {
    font-size: 30px !important;
    max-width: none !important;
  }
  .text-md {
    font-size: 20px !important;
  }
  .sm-position-absolute {
    top: -50px !important;
    right: -30px !important;
  }
  .text-lg {
    font-size: 35px;
  }
  .row#places .card {
    width: 100% !important;
  }
}